{% load staticfiles %}
<!doctype html>
<HTML>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href="{% static 'css/header.css'%}" rel='stylesheet' type='text/css'>
		<link href="{% static 'css/infoLayout.css'%}" rel='stylesheet' type='text/css'>
		<title>Avanti Interiors</title>
	</head>

	<body>
	<div class="wrapper">
		{% include 'header.html' %}
	<script>
		document.getElementById('ceilings').id = "active";
	</script>
	<div id="infoBox1" class="infoBox">
		<h2>Ceilings</h2>
		<p>
{# 		Thinking about having a new Suspended ceiling installed? Or maybe just replacing your old ceiling with new, more modern ceiling tiles to create a better environment for your company.
		Avanti can install a suspended tailored to your needs,installed by professional tradesmen.<br>
		<br> #}
{# 		If you are looking to create a successful environment, you need a successful ceiling. #}
		At Avanti we will install fantastically designed ceilings tailored to your needs. We work with you to ensure you get what you want and nothing less, unlike that glass ceiling.
		Our ceilings are proffesionally installed by tradesmen with years of experience. We are passionate about elegance and simplicity which we believe are the fundamentals of great design.
		We want to create a ceiling for you which is beautiful, simple and does not get in your way.<br>
		<br>
		There are a solutions we can offer you, all you have to do is ask! So why not drop us an email
		</p>
	</div>
	<img id="image1" src="{% static 'images/82265.jpg' %}">
	</div>
	<footer>
    	<p>Avanti Interiors &copy; 2014</p>
  	</footer>
</body>

</HTML>
