{% load staticfiles %}
<!doctype html>
<HTML>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href="{% static 'css/header.css'%}" rel='stylesheet' type='text/css'>
		<title>Avanti Interiors</title>
	</head>
	<body>
	<header>
		<h1><a href="/">Avanti Interiors</a></h1>
		<p>
			Phone: 01242 2345253<br>
			Email: info@avantiinteriors.co.uk
		</p>
    <ul>
      <li><a href="partitioning">Office Partitioning</a></li>
      <li id="active"><a href="ceilings">Suspended Ceilings</a></li>
      <li><a href="other">Other Services</a></li>
    </ul>
	</header>

</body>

</HTML>