{% load staticfiles %}
<!doctype html>
<HTML>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href="{% static 'css/header.css'%}" rel='stylesheet' type='text/css'>
		<link href="{% static 'css/infoLayout.css'%}" rel='stylesheet' type='text/css'>
		<title>Avanti Interiors</title>
	</head>

	<body>
	<div class="wrapper">
		{% include 'header.html' %}
	<script>
		document.getElementById('electrics').id = "active";
	</script>
	<div id="infoBox1" class="infoBox">
		<h2>Electrics &amp Data</h2>
		<p>
			Avanti can provide you with all your electrical and data needs, be it lighting,sockets, fire alarms to a new updated switchboard if necessary. Our electrical contractors are all qualified British tradesmen who are NICEIC, MCS and ECA approved.
		</p>
	</div>
	<img id="image1" src="{% static 'images/electrics.jpg' %}">
	</div>
	<footer>
    	<p>Avanti Interiors &copy; 2014</p>
  	</footer>
</body>

</HTML>