<header>
	<h1><a href="/">Avanti Interiors</a></h1>
	<p>
		Roland Crayton: 07738 628255<br>
		Tom Blake: 07572452100<br>
		Email: info@avantiinteriors.co.uk
	</p>
<ul>
  <li id="partitioning"><a href="partitioning">Office Partitioning</a></li>
  <li id="ceilings"><a href="ceilings">Suspended Ceilings</a></li>
  <li id="mezzanine"><a href="mezzanine">Mezzanine Floors</a></li>
</ul>
<ul id="column2">
	<li id="electrics"><a href="electrics">Electrics &amp Data</a></li>
  	<li id="office"><a href="office">Office Refurbishment</a></li>
  	<li id="drylining"><a href="drylining">Drylining</a></li>
</ul>
<ul id="column3">
	<li id="decoration"><a href="decoration">Decoration, Tape &amp; Jointing</a></li>
	<li id="heating"><a href="heating">Heating &amp Air-Conditioning</a></li>
</ul>
</header>
