<HTML>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<style>
		html {
			background-color:#C23B22;
		}
		h1 {
			text-align:center;
			color:white;
			font-family: 'Righteous', cursive;
			position:relative;
			height:60px;
			top:50%;
			margin-top:-30px;
			font-size:40pt;
			border-left:10px solid white;
			border-right:10px solid white;
			padding:0;
		}
		</style>
	</head>
	<h1>
	Hello World. This will be the site.
	</h1>
</HTML>