{% load staticfiles %}
<!doctype html>
<HTML>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href="{% static 'css/header.css'%}" rel='stylesheet' type='text/css'>
		<link href="{% static 'css/infoLayout.css'%}" rel='stylesheet' type='text/css'>
		<title>Avanti Interiors</title>
	</head>

	<body>
	<div class="wrapper">
		{% include 'header.html' %}
	<script>
		document.getElementById('mezzanine').id = "active";
	</script>
	<div id="infoBox1" class="infoBox">
		<h2>Mezzanine</h2>
		<p>
		If you feel you are outgrowing your office or warehouse space, there is a cheaper option than moving. Installing a new mezzanine floor can almost double your floor area at minimal cost. Avanti can assist you in the lay-out and design of a mezzanine floor to suit your needs.<br>
		<br> A mezzanine floor can be installed in a matter of days.
		</p>
	</div>
	<img id="image1" src="{% static 'images/82265.jpg' %}">
	</div>
	<footer>
    	<p>Avanti Interiors &copy; 2014</p>
  	</footer>
</body>

</HTML>